{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}TeamPass{% endblock %}</title>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom CSS -->
{#    <link rel="stylesheet" href="{% static 'css/styles.css' %}">#}
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="{% url 'home' %}">TeamPass</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
            {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'item_list' %}">Item</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'folder_list' %}">Folder</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'user_profile' %}">Profile</a>  <!-- Ensure this is correct -->
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'user_logout' %}">Logout</a>
                </li>
            {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'user_login' %}">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'user_register' %}">Register</a>
                </li>
            {% endif %}
        </ul>
    </div>
</nav>

<div class="container mt-4">
    {% block content %}
        <!-- Content goes here -->
    {% endblock %}
</div>

<!-- Bootstrap JS and dependencies -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<!-- Custom JS -->
{#<script src="{% static 'js/scripts.js' %}"></script>#}
</body>
</html>